h1, h3{
	text-align: center;
}
body{
	background-color: #666666;
	border-style: solid;
	border-color: grey;
	color: white;
	padding: 1cm 1cm 1cm 1cm;
	margin: .5cm .5cm .5cm .5cm
}
#social_media{
	font-style: oblique;
	text-align: center;
}
img{
	border-style: solid;
	border-color: grey;
	padding: .2cm .2cm .2cm .2cm
}
hr.style-one {
    border: 0;
    height: 1px;
    background-color: grey;
 }
 p{
 	padding: .2cm .2cm .2cm .2cm
 }
 li{
 	padding: .4cm .4cm .4cm .4cm
 }